* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-image: url("../images/background.png");
  font-family: "Expletus Sans", cursive;
  font-style: bold;
}

h1 {
  font-size: 6rem;
  color: whitesmoke;
  text-shadow: 3px 3px #730099;
}

.grad1 {
  display: flex;
  height: 200px;
  background-color: purple;
  background-image: linear-gradient(to bottom right, purple, black);
  justify-content: center;
  align-items: center;
}

.inputCard {
  width: 40rem;
  margin: 3em;
}

.input-group {
  margin: auto;
  padding: 10px;
}

.weatherPopulate {
  margin-bottom: 100px;
}

h2 {
  font-size: 20px;
}

.button-addon1 {
  font-size: 3em;
}

#savedSection {
  margin: 100px 10px;
  font-weight: bold;
  text-align: center;
}

.playlists {
  display: flex;
  flex-direction: row;
}

#savedPlaylists {
  margin: auto;
  margin-top: 20px;
  width: 90%;
  height: 1px;
  border: solid black;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

#display-city-name {
  margin-top: 10px;
}

.spacing {
  margin: 10px 0;
}

#city-button {
  background-color: rgb(2, 14, 83);
  color: white;
  border: transparent;
  width: 30%;
}

#city-button:hover {
  background-color: rgb(16, 19, 233);
}

.likeButtons {
  background-color: transparent;
  border: transparent;
  width: 20px;
  height: 20px;
  font-size: large;
  color: red;
}

.likeButtons:hover {
  font-size: x-large;
}

.card {
  margin: 1rem;
  border-radius: 10px;
  background-color: skyblue;
}

.card-link:hover {
  cursor: pointer;
  color: darkblue;
  font-size: 1.25rem;
}

ul a {
  display: block;
  text-decoration: none;
  color: black;
  margin: 10px;
  font-size: larger;
}

ul a:hover {
  font-size: x-large;
  text-decoration: none;
}
