* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
h1 {
  font-size: 6rem;
  color: whitesmoke;
  text-shadow: 3px 3px #730099;
}

.grad1 {
  display: flex;
  height: 200px;
  background-color: purple;
  background-image: linear-gradient(to bottom right, purple, black);
  justify-content: center;
  align-items: center;
}

.inputCard {
  width: 40rem;
  border: dashed;
  margin: 3em;
}

.weatherPopulate {
  border: dashed;
  margin: 1rem;
}

h2 {
  font-size: 20px;
}

.button-addon1 {
  font-size: 3em;
}

#savedSection {
  margin: 100px 10px;
  font-weight: bold;
  text-align: center;
}

.playlists {
  display: flex;
  flex-direction: row;
}

#savedPlaylists {
  margin: auto;
  margin-top: 20px;
  width: 90%;
  height: 1px;
  border: solid black;
